.divContainer{
    position: relative;
    top: 60px;
    display: flex;
    width: 300px;
    background-color: #f7f7f7;
    color: black;
}
.prjClass:hover{
    background-color: rgb(174, 174, 223);
}
button{
    gap: 10px;
    background-color: #db4c3f;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    font-size: 18px;
}

button:hover{
        background-color: #f74838 ;
}